// app global css in SCSS form

#smartdown-outer-container.smartdown-outer-container {
  margin: auto;
  width: 100%;
}

.readonly-border {
	margin: 0;
	padding: 0;
}

.edit-border {
	border: 1px solid darkgray;
}

.edit-source-border {
	border: 1px solid darkgray !important;
}

.background {
	background-color: lavender;
}

.toolbar-transparent {
  background: transparent !important;
  border: none !important;
}

.toolbar-hidden {
	display: none;
}

.toolbar-fade {
	opacity: 0;
  transition: opacity 3s;
}

.toolbar-fade:hover {
	opacity: 1;
  transition: opacity 1s;
}
