// app global css in SCSS form

.readonly-border {
	margin: 0;
	padding: 0;
}

.edit-border {
	border: 1px solid darkgray;
}

.edit-source-border {
	border: 1px solid darkgray !important;
}

.background {
	background-color: lavender;
}